#ignore DCU
*.dcu
#ignore DDP
*.ddp
#ignore ~DDP
*.~ddp
#ignore ~pas
*.~pas
#ignore ~dfm
*.~dfm
#ignore exe
*.exe
#ignore 
*.bpl
# matches any files and directories with the name _history
__history
#ignore 
*.indentcache
#ignore config
config
#ignore Config
Config
#ignore bin
bin
#ignore bin64
bin64
#ignore log
log
*.log
#ignore debug
debug